html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 55px;
  position: fixed;
  display: flex;
  padding-top: 2%;
  margin-top: -2%;
  margin-bottom: 2%;
  background-color: white;
  z-index: 1;
  opacity: 0.9
}
.logo {
  display: inline-block;
}
.info {
  display: inline-block;
  margin-left: 35%;
  width: 100%;
  margin-top: 0.5%;
}
.info a {
  font-size: 25px;
  color: gray;
  text-decoration: none;
  margin-right: 2%;
}
.info a:hover {
  text-decoration: underline;
}
.bigpic {
  width: 100%;
  height: 500px;
}
.bigpic img {
  position: absolute;
  z-index: -1;
  top: 0;
}
.txt {
  padding-top: 11%;
  padding-left: 25%;
  color: white;
  padding-right: ;


}
#txt1 {
  font-size: 25px;
  text-align: left;
  font-family: sans-serif;
}
#txt2 {
  font-size: 120px;
  text-align: left;
  font-family: sans-serif;
}
#box {
  height: 10px;
  width: 80px;
  display: inline-block;
  background-color: white;
  margin-right: 6%;
}

#txt3 {
  font-size: 25px;
  display: inline-block;
  text-align: center;

}
#box1 {
  height: 10px;
  width: 84px;
  display: inline-block;
  background-color: white;
  margin-left: 6%
}
.colortxt {
  color: orange;
  font-weight: bolder;
}
.colortxt1 {
  color: green;
  font-weight: bolder;
}
.w3-btn {
  margin-top: 10%;
  margin-left: 27%;
}
.w3-btn a {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
}
.w3-btn a:hover {
  background-color: #99ff33;
}
.container{
  background-color: #e6e6e6;
}
.text2 {
  text-align: center;
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  color: #595959;
}
.text1 {
  font-size: 40px;
  text-align: center;
  color: #595959;
  font-family: sans-serif;

}
.work {
  color: #d2ff4d;
  font-weight: bold;
  font-family: sans-serif;
}
.container1 a:hover {
  color: #595959;
}
.left {
  width: 32%;
  text-align: center;
  float: left;
  font-size: 20px;
  margin-top: 3%;
  border-right: 1px solid black;
  margin-left: 2%;
  margin-bottom: 3%;
}
.left div {
  margin-top: 10%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 7%;
  font-size: 21px;
}
.left a {
  color: #ffcc66;
  margin-top: 12%;
  font-size: 20px;
  text-decoration: none;
  font-size: 16px;
}
.center {
  width: 32%;
  text-align: center;
  float: left;
  font-size: 20px;
  margin-top: 3%;
  border-right: 1px solid black;
  margin-bottom: 3%;
}
.center div {
  margin-top: 4%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%;
}
.center a {
  text-decoration: none;
  color: #ffcc66;
}
.company {
  font-size: 16px;
}
.right {
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 2%
}
.right div {
  margin-top: 2%;
  width: 20%;
  float: right;
  margin-right: 5%;
  font-size: 21px;
  margin-bottom: 0.2%
}
.right a {
  font-size: 16px;
  color: #ffcc66;
  text-decoration: none;
}
.container-main {
  background-color: #e6e6e6;;
  margin-top: 27%;
  box-sizing: border-box;
  height: 130%;
}
.head {
  width: 100%;
  margin-top: 2%;
}
.head h1 {
  text-align: center;
  color: white;
  padding-top: 2%;
  font-size: 50px;
  margin-bottom: 4px;
  color: #4d4d4d;
}
.head h5 {
  text-align: center;
  font-size: 30px;
  margin-top: 1px;
  color: #4d4d4d;
}
.help {
  color: #d2ff4d;
}
.container-body-left {
  float: left;
  width: 45%;
  flex: 1;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 0.5%;
}
.col-md-1 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex: 1;
}
.col-1 div {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  background-color: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  margin-left: 2%;
  text-align: center;
  color: #4d4d4d;
  font-family: sans-serif;
}
.container-body-right {
  float: right;
  width: 45%;
  flex: 1;
  margin-left: 0.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 4%;
}
.col-md-2 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  display: inline-flex;
  flex: 1;
}
.col-2 div {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  background-color: white;
  padding: 30px;
  margin-right: 2%;
  text-align: center;
  color: #4d4d4d;
  font-family: sans-serif;
}
.col-1 p {
  font-size: 18px;
  color: #4d4d4d;
}
.col-2 p {
  font-size: 18px;
  color: #4d4d4d;
}
.w4-btn {
  margin-top: 52%;
  margin-left: 45%;
}
.w4-btn a {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
}
.w4-btn a:hover {
  background-color: #99ff33;
}
.main-row-container {
  box-sizing: border-box;
}
.top-head {
  text-align: center;
  font-size: 35px;
  color: #4d4d4d;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  font-family: sans-serif;
}
.row-container {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  display: inline-flex;
}
.row-1-container {
  display: flex;
  box-sizing: border-box;
}
.row-1 {
  display: flex;
  display: inline-flex;
  margin-top: -0.5%;
}
.img-1 {
  position: relative;
}
.img-1:hover {
  opacity: 0.9;
}

#logo-1 {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-1:hover #logo-1 {
  display: block;
}
#content-1 {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
}
.img-1:hover #content-1 {
  display: block;
}
.img-2 {
  position: relative;
}
.img-2:hover {
  opacity: 0.9;
}
#logo-2 {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-2:hover #logo-2 {
  display: block;
}
#content-2 {
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4d4d4d;
  border-radius: 15px;
  width: 90%;
  left: 5%;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
}
.img-2:hover #content-2 {
  display: block;
}
.img-3 {
  position: relative;
}
.img-3:hover {
  opacity: 0.9;
}
#logo-3 {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-3:hover #logo-3 {
  display: block;
}
#content-3 {
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4d4d4d;
  border-radius: 15px;
  width: 90%;
  left: 5%;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
}
.img-3:hover #content-3 {
  display: block;
}
.img-a {
  position: relative;
}
.img-a:hover {
  opacity: 0.9;
}
#logo-a {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-a:hover #logo-a {
  display: block;
}
#content-a {
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4d4d4d;
  border-radius: 15px;
  width: 90%;
  left: 5%;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
}
.img-a:hover #content-a {
  display: block;
}
.img-b {
  position: relative;
}
.img-b:hover {
  opacity: 0.9;
}
#logo-b {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-b:hover #logo-b {
  display: block;
}
#content-b {
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4d4d4d;
  border-radius: 15px;
  width: 90%;
  left: 5%;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
}
.img-b:hover #content-b {
  display: block;
}
.img-c {
  position: relative;
}
.img-c:hover {
  opacity: 0.9;
}
#logo-c {
  background-image:url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-mark.svg');
    background-position:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    right: 45%;
    display: none;
}
.img-c:hover #logo-c {
  display: block;
}
#content-c {
  position: absolute;
  top: 45%;

  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #4d4d4d;
  border-radius: 15px;
  width: 90%;
  left: 5%;
  display: none;
  font-weight: bold;
  font-family: sans-serif;
}
.img-c:hover #content-c {
  display: block;
}
#content-b a {
  text-decoration: none;
  color: white;
}
.background {
  width: 100%;
  height: 70%;
  background-color: #404040;
  margin-top: -1%;
}
.content {
  text-align: center;
  padding-top: 8%;
}
.content div {
  font-size: 40px;
  font-weight: bold;
  font-family: inherit;
  margin: 2%;
  text-align: center;
  color: white;
}
#box-1 {
  width: 250px;
  height: 10px;
  text-align: center;
  margin-left: 40%;
  background-color: #d2ff4d;
}
.content p {
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  margin: 2.5%;
  color: white;
}
.w6-btn {
  margin-left: 45%;
  margin-top: 7%;
}
.w6-btn a {
  background-color: #4CAF50;
  border: solid 2px #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 25px;
}
.w6-btn a:hover {
  background-color: #404040;
  color: #4CAF50;
}
.location {
  box-sizing: border-box;
}
.location-left {
  position: absolute;
  height: 200px;
  width: 500px;
  margin-top: -27%;
  margin-left: 5%;
  background-color: #132023;
  opacity: 0.7;
}
.location-img {
  z-index: -1;
  display: inline-block;
}
.location-left h1 {
  color: #99ff33;
  padding-left: 3%;
  margin-bottom: -1%;
  margin-top: 1%;

}
.location-left div {
  font-size: 20px;
  color: white;
  margin-top: 2%;
  margin-left: 3%;
}
.location-img1 {
  z-index: -1;
  display: inline-block;
  margin-left: -0.3%;
}
.location-right {
  position: absolute;
  height: 200px;
  width: 500px;
  margin-top: -27%;
  margin-left: 56%;
  background-color: #132023;
  opacity: 0.7;
}
.location-right h1 {
  color: #99ff33;
  padding-left: 3%;
  margin-bottom: -1%;
  margin-top: 1%;
}
.location-right div {
  font-size: 20px;
  color: white;
  margin-top: 2%;
  margin-left: 3%;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
}
.wideopen {
  width: 95%;
  display: inline-flex;
  justify-content: space-between;
}
.wideopen div {
  font-size: 12px;
  display: inline-flex;
  margin-right: 35%;
  margin-top: 1.5%;
  color: #404040;
}
.wideopen div a {
  text-decoration: none;
  color: #99ff33;
  display: inline-flex;
  margin-top: 1%;
}
.wideopen a {
  display: inline-flex;
  text-decoration: none;
  color: #404040;
  text-align: right;
  margin-top: 1.5%;
  font-size: 13px;
}
.wideopen a:hover {
  color: #99ff33;
}
