html, body {
  height: 110%;
  width: 100%;
}
.header {
  height: 10%;
  width: 96%;
  background-color: #333333;
  margin-left: 2%;
  margin-right: 8%;
}
.w3-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  float: right;
  background-color: none;
}
.w4-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  float: right;
  background-color: none;
}
.w3-btn:hover {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  float: right;
  background-color: none;
}
.w4-btn:hover {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  float: right;
  background-color: none;
}
.container {
  height: 140%;
  width: 45%;
  float: left;
  margin-left: 2%;
}
.right {
  height: 140%;
  width: 45%;
  float: right;
  margin-right: 2%;
}
img {
  margin-bottom: 2%;
}
span {
  font-size: 18px;
  font-weight: bolder;
  font-family: fantasy;
}
h1 {
  font-size: 32px;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
}
#footer {
  height: 10%;
  width: 96%;
  background-color: #333333;
  position: absolute;
  top: 210%;
  margin-left: 1.5%;
  margin-right: 5%;
}
